
<!--<ion-view view-title="Item show">
	<div class="content">
		<div ng-controller="showItemCtrl"> 
		  <ul class="list" ng-repeat="item in foodItems" ng-model="foodShow.item" > 
			  <li  class="item">{{item.nf_calories}}</li>
			  <li class ="item">{{item.nf_total_fat}}</li>
			  <li class ="item">{{item.nf_cholesterol}}</li>
			  <li class ="item">{{item.nf_sodium}}</li>
			  <li class ="item">{{item.nf_total_carbohydrate}}</li>
			  <li class ="item">{{item.nf_dietary_fiber}}</li>
			  <li class ="item">{{item.nf_sugars}}</li>
			  <li class ="item">{{item.nf_protein}}</li>
		  </ul>
		</div>
    </div>
 </ion-view> 
 
 <ion-view view-title="Blogg item">
	<ion-content>
		<div ng-controller="bloggItem"> 
			<ion-list > 
				<ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap">
					<img ng-src="{{singleItem.img}}">
					<h3>{{singleItem.title}}</h3>
					<p>{{singleItem.date}}</p>
					<h4>{{singleItem.author}}</h4>
					<p>{{singleItem.paragraph}}</p>
					<i class="icon ion-chevron-right"></i>
				</ion-item>
			</ion-list>
		</div>
    </ion-content>
 </ion-view> 
  --> 
