
<ion-view view-title="Hem">
  <ion-content  class="padding">  
    <h4 >Hur många kalorier ska jag äta?</h4>
    <p >
    Att gå ner ungefär ett halvt kilo i veckan är en bra strategi för en hållbar viktnedgång. För att du ska göra detta krävs ett underskott på ungefär 500 kalorier per dag.
    </p>
    <p>Hur många kalorier du gör av med per dag skiljer sig väldigt mycket från person till person. Det beror på kön, ålder, kroppsstorlek och aktivitet.</p>
    <img src="../img/food.jpg" class="macbook">
    <p><strong> Det finns dock en generell uppskattning över rekommenderat energiintag:</strong></p>
    <ul>
        <li><img src="../img/women.png" class="women">Kvinnor förbränner generellt mellan 1800-2400 kalorier per dag. För att gå ner i vikt på ett hälsosamt sätt ska du som lägst gå ner till 1500 kalorier per dag.</li>
        <li><img src="../img/man4.png" class="women">Män förbränner generellt mellan 2300-3100 kalorier per dag. För att gå ner i vikt på ett hälsosamt sätt ska du som lägst gå ner till 1800 per dag.</li>
    </ul>
    <h4>Väj rätt kalorier</h4>
    <p>Det är också viktigt att du väljer RÄTT kalorier – eftersom du inte kan äta så många av dem. Välj alltså kalorier som du blir mätt av och som är hälsosamt för din kropp.</p>
    <p>Det är exempelvis större sannolikhet att du klarar av att äta ett kaloriunderskott om du väljer mycket grönsaker, proteiner och rätt form av kolhydrater. Detta eftersom dessa livsmedel gör att du håller dig mätt längre och håller ditt blodsocker på en jämn nivå.</p>
    <p>Om du äter exakt lika många kalorier fast i form av tio chokladbollar under hela dagen så kommer du att få exakt samma energiunderskott. Däremot är risken väldigt stor att du inte kommer att stå dig på tio chokladbollar under hela dagen. Dina muskler kommer dessutom att brytas ned.</p>
    <p>Dessutom så sägs insulinet (som pumpar ut i kroppen om du äter mycket socker) lagra fett. Om insulin lagrar fett eller inte är dock en stor diskussion just nu där forskning och experter säger emot varandra.</p>
    

    
   
  </ion-content>
</ion-view>